@import '_vars';
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
/*--------------------*/
body {
	font-family: "Montserrat", sans-serif;
}

.container {
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
}
a {
	color: inherit;
	cursor: pointer;
}
li{
	list-style: none;
}
.header {		
	background: #FAF6EF;
	&__up {
		display: flex;
		justify-content: space-between;
		min-height: 100px;
		align-items: center;
		padding: 25px 0 23px;
	}
		&__left {
			display: flex;
			align-items: center;
			gap: 20px;
		}

		&__left-email,
		&__left-phone  {
			display: flex;
			align-items: center;
			gap: 6px;
			font-weight: 400;
         font-size: 14px;
         line-height: 22px;
         color: $brown;
		}
		&__language{
			font-weight: 400;
         font-size: 14px;
			line-height: 22px;
			color: $brown;
		}

	&__logo-img {
		max-width: 100%;
	}
	&__rigth{
		display: flex;
		gap: 20px;
		align-items: center;
		padding-left: 43px;
	}
	&__button-1 {
		padding: 16px 80px;
		border: 1px solid $brown;
		border-radius: 100px;
		background-color: transparent;
		text-align: center;
		font-weight: 600;
      font-size: 18px;
      line-height: 18px;
      color: $brown;
	}
	&__down {
		padding: 118px 0 74px;
		background-image: url(../images/header-bg.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		min-height: 620px;
	}
	&__inner {
		max-width: 1120px;
	}
	&__title {
		font-family: 'Playfair Display';
		font-weight: 500;
		font-size: 82px;
		line-height: 90px;
		color: $dark-brown;
		margin-bottom: 16px;
	}

	&__down-description {
		font-family: 'Playfair Display';
		font-weight: 600;
		font-size: 28px;
		line-height: 34px;
		color: $brown;
		max-width: 593px;
		margin-bottom: 28px;
	}
	&__down-text{
		font-weight: 400;
      font-size: 18px;
      line-height: 31px;
		margin-bottom: 42px;
      color: $dark-brown;
		max-width: 593px;
	}
	&__down-button button{
		border-radius: 100px;
		text-align: center;
		background-color: $brown;	
		padding: 21px 100px;
		font-weight: 600;
      font-size: 18px;
      line-height: 18px;
      color: #FAF6EF;
	}
}
.menu {		
	&__inner{
	min-height: 80px;
	background: #FAF6EF;
   border-width: 1px 0px;
   border-style: solid;
   border-color: rgb(190, 168, 142, .4);	
	}
   &__list{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 30px 0;
		max-width: 820px;
		margin: 0 auto;
}
&__item{
	transition: all .3s;		
		font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: $brown;		
		:hover{
			color: $dark-brown;
			font-weight: 500;
	}	
}
}
.about {
	background-color: #E5E5E5;
	padding: 120px 0;
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 60px;
	}

	&__content {
		// display: flex;
		// justify-content: space-between;
		// flex-direction: column;
		// height: 700px;
	}

	&__text {
		font-weight: 400;
      font-size: 18px;
      line-height: 31px;
      color: $dark-brown;
		margin-bottom: 60px;
	}

	&__text-1 {
		margin-bottom: 15px;
	}

	&__btn {		
		border: 1px solid $dark-brown;
      border-radius: 100px;
		background-color: transparent;
		padding: 21px 60px;
		font-weight: 600;
      font-size: 18px;
      line-height: 18px;
      color: $dark-brown;
	}

	&__img {
		max-width: 100%;
	}
}

.description {
	font-weight: 400;
	font-size: 18px;
	line-height: 31px;
	color: $dark-brown;
	opacity: 0.5;
	margin-bottom: 4px;
}
.title {
	font-family: 'Playfair Display';
	font-weight: 500;
	font-size: 62px;
	line-height: 68px;
	color: $dark-brown;
	margin-bottom: 40px;
}
.methods {
   background-color: #DED2BD;
   padding: 120px 0;
	min-height: 600px;
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 210px;
	}

	&__content {
		max-width: 570px;
	}

	&__text {
		font-weight: 400;
      font-size: 18px;
		line-height: 31px;
		color: $dark-brown;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 28px;
	}

	&__item {
		display: flex;
		align-items: center;
		gap: 16px;
	}

	&__item-img {
		width: 90px;
	}

	&__item-text {
		font-weight: 700;
      font-size: 22px;
		line-height: 31px;
		color: $beige;
	}
}

.programs {
padding: 120px 0;
background-color: #E5E5E5;
	&__inner {
	}

	&__content {
		display: flex;
		justify-content: space-between;

	}

	&__item {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		height: 300px;
	}

	&__item-text {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__item-text--1,
	&__item-text--2 {
		font-weight: 600;
      font-size: 18px;
      line-height: 31px;
      color: $dark-brown;
	}

	&__line {
		width: 570px;
      height: 1px;
      background: $beige;
      opacity: 0.4;
	}
}

.reviews {
padding: 120px 0;
background-color: #DED2BD;
	&__inner {		
		max-width: 780px;
	}

	&__text {
		font-weight: 400;
      font-size: 18px;
      line-height: 31px;
      color: $dark-brown;
	}
}
.blog {
padding: 120px 0;
background: #E5E5E5;
}
.slick-arrow{
	position: absolute;
	top: 50%;
	width: 50px;
	height: 50px;
}
.slick-prev{
	position: absolute;
	left: 0;
	font-size: 0;
	background: url(../images/arrow-l.svg) 0 0 / 100% no-repeat;
	z-index: 10;
}
 .slick-next{
	position: absolute;
	right: 0;
	font-size: 0;
	background: url(../images/arrow-r.svg) 0 0 / 100% no-repeat;
}
.slider {
position: relative;
max-width: 1400px;
margin: 0 auto;
padding: 0 60px;
	&__list {
		display: flex;
		justify-content: space-between;
		gap: 60px;
		min-width: 0;
	}
	&__item {
		max-width: 360px;
		height: 414px;
      border: 1px solid rgba(190, 168, 142, .4);
		margin-right: 40px;
		display: flex;
    justify-content: space-between;
    flex-direction: column;
	}

	&__item-img {
		max-width: 100%;
	}

	&__item-text {
		font-weight: 600;
      font-size: 16px;
      line-height: 27px;
      color: $dark-brown;
		padding: 20px 20px 0;
		height: 150px;
	}

	&__item-content {
		padding: 0 20px 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__item-date {
		font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: $beige;
	}
}
.slick-initialized .slick-slide {
	display: flex; 
}
.banner {
padding: 120px 0;
background-image: url(../images/banner-bg.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
min-height: 480px;
	&__inner {
		max-width: 786px;
		margin: 0 auto;
		text-align: center;
	}

	&__title {
		font-weight: 400;
      font-size: 24px;
      line-height: 41px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: $brown;
      opacity: 0.7;
		margin-bottom: 12px;
	}

	&__description {
      font-family: 'Playfair Display';
      font-weight: 600;
      font-size: 32px;
      color: $dark-brown;
      line-height: 38px;
		margin-bottom: 50px;
	}

	&__btn {
		color: $beige-light;
		font-weight: 600;
      font-size: 18px;
		line-height: 18px;
		padding: 21px 66px;
		background: $brown;
      border-radius: 100px;
	}
}

.footer {
background-color: rgba(190, 168, 142, .3);
padding-top: 120px;
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: start;
	}

	&__item {
		margin-bottom: 12px;
		font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: $dark-brown;
	}

	&__title {
		font-weight: 700;
      font-size: 18px;
      color: $beige;
      line-height: 25px;
		margin-bottom: 20px;
	}

	&__contacts {
		margin-bottom: 78px;
		margin-top: 42px;
	}

	&__contacts-email,
	&__contacts-phone {
		display: flex;
		align-items: center;
		gap: 8px;
		font-weight: 400;
      font-size: 14px;
      color: $brown;
      line-height: 22px;
	}
	&__contacts-phone{
		margin-bottom: 14px;
	}

&__line{
	height: 1px;
   background: $beige;
	width: 1200px;
   opacity: 0.4;
}
	&__down {
		display: flex;
		justify-content: space-between;
		padding: 16px 0;
	}

	&__down-text,
	&__down-link {
		font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: $dark-brown;
      opacity: 0.4;
	}
	&__form{
		background-color: transparent;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 17px;
		border-bottom: 1px solid $brown;
	}

}
.checkbox{
			font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: $dark-brown;
		a{
			color: $brown;
		}
}
.email{
	background-color: transparent;
	padding-bottom: 10px;
}

input{
		::placeholder{
		font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: $dark-brown;
      opacity: 0.5;
	}
}